*{
  margin: 0px;
  padding: 0px;
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -o-transition:all 1s ease;
  transition:all 1s ease;
}

@keyframes backForth {
  0%{
    transform: translateY(-80px);
  }
  50%{
    transform: translateY(150px);
  }
  100%{
    transform: translateY(-80px);
  }
}

:root{
  --button-background-color: #9ce714;
}
html{
  background-color: #1A1A1A;
}
body, html{
  margin: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow: visible;
}
header{
  display: flex;
  justify-content: space-between;
}

.background-text{
  color: #1E1E1E;
  font-size: 210px;
  font-weight: 900;
  line-height: 210px;
  font-family: 'Poppins', sans-serif;
  user-select: none;
  position: fixed;
  top: 150px;
  left: 40px;
  height: auto;
  z-index: -10;
}

/* header */

.name-title{
  color: #8F8F8F;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  margin: 10px 10px 10px 15px;
  display: inline-block;
}

/* left fixed presentation */
.fixed-presentation{
  left: 0px;
  top: 0px;
  width: 600px;
  max-width: 100%;
  z-index: -1;
}

.hook-words{
  position: relative;
  font-family: Josefin Sans;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin: 100px 80px 0px 80px;
  max-width: 400px;
}

.quick-desc{
  position: relative;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #666666;
  margin: 25px 80px 0px 80px;
}

.contact{
  margin: 10px 20px 0px 100px;
  width: auto;
  height: auto;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.contact-object:hover{
  transform: scale(1.1);
  opacity: 0.8;
}
.contact-object:active{
  transform: scale(1.1);
  opacity: 0.3;
}
.contact-object{
  transition: all 0.2s;
  width: 20px;
  height: 20px;
  margin: 10px 0px 0px 20px;
  cursor: pointer;
  user-select: none;
  
}
.contact-object:first-child{
  margin-right: 0px;
}

.experience-button{
  padding: 12.5px 30px 12.5px 30px;
  border-radius: 9px;
  color: #1A1A1A;
  background-color: var(--button-background-color);
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  height: 39px;
  transition: all 0.2s;
  border-right: 1px solid #1a1a1a;
}
.experience-button:hover{
  opacity: 0.7;
}
.experience-button:active{
  opacity: 0.3;
}

.footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #686868;
  font-family: sans-serif;
  padding: 0px 15px 5px 15px;
}
.button-selection-container{
  margin: 25px 80px 100px 80px;
  transition: all 0.2s;
  display: flex;
}
.hover-dropdown{
  border-radius: 9px;
  width: 40px;
  height: 39px;
  transition: all 0.2s;
  background-color: #232323;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 39px;
  padding-left: 1.5px;
  padding-bottom: 1px;
  box-sizing: border-box;
  font-size: 15px;
}
.hover-dropdown:hover{
  filter: brightness(1.5);
}
.hover-dropdown:active{
  filter: brightness(2);
}
.selection-view{
  padding-left: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 39px;
  min-height: 39px;
  line-height: 39px;
  background-color: transparent;
  border: none;
  outline: none;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  text-align-last:center; 
  text-align: center;
  cursor: pointer;
  color: transparent;
}
.projects{
  height: 200px;
  background-color: white;
  margin: 200px 0px 0px 0px;
}
.project{
  display: flex;
}
.textZone{
  flex: 1;
  font-family: 'Poppins', sans-serif;
}
.textZone h2{
  margin: 20px;
  font-weight: 500;
  font-size: 20px;
}
.textZone h3{
  margin: 20px;
  font-weight: 300;
  color: #434343;
  line-height: 25px;
  font-size: 14px;
}
.textZone img{
  width: 100%;
}
.preview{
  float: right;
  position: relative;
  margin: 20px;
  max-width: calc(50% - 40px);
  cursor: pointer;
}
.preview:hover{
  opacity: 0.6;
}
.fullscreenplayer{
  position: fixed;
  transition: all 100ms;
  top: 50%;
  left: 50%;
  margin: 0px;
  width: 100%;
  transform: translate(-50%, -50%);
  height: 100%;
  background-color: #000000de;
  z-index: 10;
  display: none;
  opacity: 0;
}
.playButton{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30px;
  height: 30px;
  filter: invert(1);
  opacity: 0.5;
}
.fullscreenplayer video{
  width: auto;
  position: absolute;
  height: calc(100% - 50px) !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow{
  position: relative;
  width: 30px;
  left: calc(50% - 15px);
  transform: translateY(-80px);
  animation: backForth 1500ms infinite;
  -webkit-animation: backForth 1500ms infinite;
  -moz-animation: backForth 1500ms infinite;;
}
.closePlayer{
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 50px;
  cursor: pointer;
  transition: all 100ms;
  position: absolute;
  top: 10px;
  z-index: 20;
  right: 10px;
}
.closePlayer:hover{
  opacity: 0.8;
}
.closePlayer:active{
  opacity: 0.5;
}
@media only screen and (max-width: 590px) {
  .hook-words{
    margin-top: 120px;
  }
  .hook-words, .quick-desc, .button-selection-container{
    margin-left: 30px;
    margin-right: 30px;
  }
  .contact{
    margin-left: 10px;
    margin-right: 20px;
  }
  .hook-words{
    font-size: 40px;
  }
  .quick-desc{
    font-size: 17px;
  }
  .contact-object{
    width: 15px;
    height: 15px;
    margin: 10px 0px 0px 20px;
  }
}

@media only screen and (max-width: 350px) {
  .contact-object{
    margin: 10px 0px 0px 10px;
  }
  .contact{
    margin-left: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .preview{
    max-width: calc(100% - 40px);
  }
}

@media only screen and (max-width: 250px) {
  .contact-object{
    width: 12.5px;
    height: 12.5px;
  }
  .contact{
    margin-left: 10px;
  }
}